.venv/
.jupyter/
.ipynb_checkpoints/
.idea/
.vscode/
__pycache__/
*.pyc
*.log
.env
.env.*
!.env.example

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

*.npy
*.index
*.faiss
*.zip
Thumbs.db
.DS_Store
