jupyter
notebook
ipykernel
kagglehub
pandas
numpy
matplotlib
scikit-learn
openai
faiss-cpu
langchain
langchain-openai
langchain-huggingface
langchain-text-splitters
pymupdf
pypdf
docling
tqdm
python-dotenv
streamlit>=1.35.0
sentence-transformers
google-genai
pyarrow
datasets
nest-asyncio
ragas
ragchecker
seaborn
spacy
torch
